*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --nav-background:#255EE9;
    --primary-color: #FFFFFF;
    --greymain-background: #F6F6F6;
    --footer-background: #23272A;
    --footer-titles: #7088D9;
}

body{
    background-color: var(--primary-color);
}


header{
    background-color: var(--nav-background);
    color: var(--primary-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

li{
    list-style: none;
    text-decoration: none;
    padding: 7px 20px;

}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    text-decoration: underline;
    color: var(--footer-titles);
}

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 70px;
}

.j-content{
    justify-content: center;
}

.log-in{
    background-color: var(--primary-color);
    color: black;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    font-size: 14px;
}

#hero > div{
    min-height: 600px;
    text-align: center;  
}

.hero-text{
    max-width: 900px;
}

h1{
    margin-bottom: 35px;
    font-size: 45px;
}

p{
  font-size: 20px;  
}

#macdownload1{
    border-style: none;
    background-color: var(--greymain-background);
    color: var(--footer-background);
    font-size: 15px;
    margin: 35px 10px;
    padding: 15px;
    border-radius: 25px;    
}

.margin-buttons{
    margin: 35px 10px;
}

#macdownload1:hover{
    color: var(--footer-titles);
    box-shadow: 0px 0px 10px rgba(90, 83, 83, 0.6);
    text-decoration: none;
}

#macdownload1::before{
    content: "\2193";
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

#download2{
    border-style: none;
    background-color: var(--footer-background);
    color: var(--primary-color);
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
}

#download2:hover{
    color: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(39, 38, 38, 0.3);
    text-decoration: none;
}

#macdownload2::before{
    content: "\2193";
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary-color);
}

#macdownload2:hover{
    color: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(90, 83, 83, 0.6);
    text-decoration: none;
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}

.c-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 600 1200px;
    
}

.grey-bg{
    background-color: var(--greymain-background)
}


.wave {
    width: 100%;
    max-width: 100%;
    display: block;
    opacity: 0.03;
}

.rotate{
    transform: rotate(180deg);
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

footer{
    background-color: var(--footer-background);
    color: var(--primary-color);
    padding: 50px 100px;
}

.main-image{
    margin: 80px 0;
    display: block;
    width: 60%;
}

.main-text{
    max-width: 40%;
    padding: 30px 30px;
}

h2{
    font-size: 40px;
    font-weight: bolder;

}

.p-section{
    min-width: 60%;
    padding: 25px 0px;
}

.row-reverse{
    flex-direction: row-reverse;
}

.center-align{
    text-align: center;
}

.lastsection-text{
    width: 100%;
    padding: 0px 80px;
}

.lastsection-image > img{
    width: 100%;
    display: block;
}

h3{
    font-size: 25px;
    margin: 50px 0px;
}

.lastsection-button{
    background-color: var(--footer-titles);
    padding: 15px;
    border-radius: 25px;
    line-height: 20px;
    text-decoration-style: none;
}

.lastdiv-section{
    padding-top: 20px;
    padding-bottom: 100px;
}

.list-title{
    color: var(--footer-titles);
}

.footer-list{
    padding: 5px 0px;
}

.space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-bigtitle{
    color: var(--footer-titles);
    font-size: 30px;
    padding: 10px;
}

.footerborder{
    border-bottom: 1px solid var(--footer-titles);
    padding-bottom: 65px;
    margin: 20px 100px;
}

.leftside-footer{
    width: 20%;
}


.flag {
    width: 20px;
}

div > select{
    background-color: var(--footer-background);
    color: var(--primary-color);
    border-style: none;
}

.custom-select{
    padding: 10px;
}

.socialicons {
    display: inline-block;
    padding: 10px;
}