*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --nav-background:#255EE9;
    --primary-color: #FFFFFF;
    --greymain-background: #F6F6F6;
    --footer-background: #23272A;
    --footer-titles: #7088D9;
}

body{
    background-color: var(--primary-color);
}

.debug{
    border: 1px solid black;
}

header{
    background-color: var(--nav-background);
    color: var(--primary-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

li{
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 70px;
}

.j-content{
    justify-content: center;
}

.log-in{
    background-color: var(--primary-color);
    color: black;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    font-size: 14px;
}

#hero > div{
    min-height: 600px;
    text-align: center;  
}

.hero-text{
    max-width: 900px;
}

h1{
    margin-bottom: 35px;
    font-size: 45px;
}

p{
  font-size: 20px;  
}

button{
    margin: 35px 10px;
    padding: 15px;
    border-radius: 25px;
}

.button1{
    border-style: none;
    background-color: var(--greymain-background);
    color: var(--footer-background);
    font-size: 15px;
}

.button2{
    border-style: none;
    background-color: var(--footer-background);
    color: var(--primary-color);
    font-size: 15px;
}


#hero{
    background-image: url(../img/jumbo.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}

.c-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 600 1200px;
    
}

.grey-bg{
    background-color: var(--greymain-background)
}

footer{
    background-color: var(--footer-background);
    color: var(--primary-color);
    margin-top: 150px;
}

.main-image{
    margin: 80px 0;
    display: block;
}

.main-text{
    width: 60%;
    padding: 30px 0px;
}

h2{
    font-size: 45px;
    font-weight: bolder;

}

.p-section{
    font-size: 17px;
    padding: 30px 0px;
}

.row-reverse{
    flex-direction: row-reverse;
}

.center-align{
    text-align: center;
}

.lastsection-text{
    width: 100%;
    padding: 0px 80px;
    margin-top: 85px;
}

.lastsection-image > img{
    width: 100%;
    display: block;
}

h3{
    font-size: 25px;
    margin: 50px 0px;
}

.lastsection-button{
    background-color: var(--footer-titles);
    padding: 15px;
    border-radius: 25px;
    line-height: 20px;
}

